
<% if user_signed_in? %>

  <h1 id="header">Create new Category</h1>
  <%= link_to "Create", new_category_path %>
  <%= link_to "Logout",  destroy_user_session_path, method: :delete %>

<% else %>

  <p>You are not logged in.</p>
  <%= link_to "Sign-In", new_user_session_path %>

<% end %>